// Shared with web client and login screen
.o_drawer_menu_background, .o_web_client.o_drawer_menu_background {
    background: {
        size: cover;
        attachment: fixed;
        color: var(--homeMenu-bg-color, #{$o-gray-200});
        image: var(--homeMenu-bg-image, url("/eist_web_theme/static/img/background-light.svg"));
    }
}
