// -----------------------------------------------
// SideNavbar night mode
// -----------------------------------------------
$o-side-navbar-brand-background: $o-view-background-color !default;

$o-side-navbar-app-item-entry-active-bg: $o-gray-400 !default;
$o-side-navbar-app-item-entry-active-color: $o-gray-900 !default;

$o-side-navbar-menu-item-entry-active-bg: $o-gray-400 !default;
$o-side-navbar-menu-item-entry-active-color: $o-gray-900 !default;

$o-side-navbar-item-hover-bg: $o-gray-500 !default;