.o_field_widget.o_field_theme_color_picker > div {
    // 为了补偿用于相对分隔元素的 2px 边距，我们保留顶部的边距，因为无论如何 widget 都有点高
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: -2px;

    > div {
        display: inline-block;
        border: 1px solid white;
        box-shadow: 0 0 0 1px map-get($grays, '300');
        margin: 2px;
    }
}
