.o_theme_colorlist {
    button {
        border: 1px solid $dropdown-bg;
        box-shadow: 0 0 0 1px $gray-500;
        width: 22px;
        height: 17px;
    }

    .o_colorlist_selected {
        box-shadow: 0 0 0 2px $o-brand-odoo !important;
    }
}



@for $size from 1 through length($o-theme-colors) {
    .o_theme_colorlist_item_color_#{$size} {
        $-theme-base: nth($o-theme-colors, $size);
        $-theme-bg: adjust-color($-theme-base, $lightness: 15%, $saturation: 0%);
        $-theme-color: adjust-color($-theme-base, $lightness: -5%, $saturation: -5%);
        background: linear-gradient(135deg, $-theme-color 0%, $-theme-bg 100%);
    }
}

// 0.默认颜色
.o_theme_colorlist_item_color_0 {
    background: #e6edf5;
}